body{
    margin:0;
    font-family: cursive;
}

.container{
    margin: 1rem;
}

.action{
    text-align: center;
}

.cube-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.cube{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #EFEFEF;
}

.btn{
    background-color: #72C3DC;
    box-shadow: 0px 3px 0px #2B8FAD;
    border: 0;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    width: 5rem;
}

footer{
    text-align: center;
    font-style: italic;
    padding: 0.5rem 1rem;
}

header{
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #000;
    color: #fff;
}

@media(min-width: 960px){
    .container{
        display: flex;
        justify-content: space-between;
        margin: 0;
        background-color: #EFEFEF;
    }

    footer{
        background-color: #EFEFEF;
    }

    .cube-container{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 540px;
        height: 540px;
        order: 1;
        padding: 0;
    }

    .action{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw - 540px);
        margin-top: 2rem;
    }

    .action .btn{
        margin: 0.5rem 0rem;
    }

    .cube{
        font-size: 3rem;
        color: #fff;
    }

    .cube-1, 
    .cube-8{
        background-color: #6F98A8;
    }

    .cube-2, 
    .cube-4{
        background-color: #2B8EAD;
    }
    
    .cube-3, 
    .cube-5, 
    .cube-9{
        background-color: #2F454E;
    }

    .cube-6, 
    .cube-7{
        background-color: #BFBFBF;
    }

    header{
        background-color: #fff;
        color: #000;
    }
}

@media(max-width: 959px){
    .cube{
        margin-bottom: 0.25rem;
        height: calc(60vh/9);
    }

    .border-thick-left{
        border-left: 5px solid;
    }
    
    .cube-1, 
    .cube-8{
        border-color: #6F98A8;
    }

    .cube-2, 
    .cube-4{
        border-color: #2B8EAD;
    }
    
    .cube-3, 
    .cube-5, 
    .cube-9{
        border-color: #2F454E;
    }

    .cube-6, 
    .cube-7{
        border-color: #BFBFBF;
    }
}